<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test101">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test101">
        <activity
            android:name=".compose114.Compose114MaterialComponents"
            android:exported="false"
            android:label="@string/title_activity_compose114_material_components"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose113.Compose113LayoutInJetpack"
            android:exported="false"
            android:label="@string/title_activity_compose113_layout_in_jetpack"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose112.Compose112OnBoardingActivity"
            android:exported="false"
            android:label="@string/title_activity_compose112_on_boarding"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose111.Compose111OnBoardingActivity"
            android:exported="false"
            android:label="@string/title_activity_compose111_on_boarding"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose110.Compose110OnBoardingActivity"
            android:exported="false"
            android:label="@string/title_activity_compose110_on_boarding"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose109.Compose109OnBoardingActivity"
            android:exported="false"
            android:label="@string/title_activity_compose109_on_boarding"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose108.Compose108BasicCodeLab"
            android:exported="false"
            android:label="@string/title_activity_compose108_basic_codelab"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose107.Compose107Activity"
            android:exported="false"
            android:label="@string/title_activity_compose107"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose106.Compose106Activity"
            android:exported="false"
            android:label="@string/title_activity_compose106"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose105.Compose105Activity"
            android:exported="false"
            android:label="@string/title_activity_compose105"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose104.Compose104Activity"
            android:exported="false"
            android:label="@string/title_activity_compose104"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose103.Compose103Activity"
            android:exported="false"
            android:label="@string/title_activity_compose103"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".compose102.Compose102Activity"
            android:exported="false"
            android:label="@string/title_activity_compose102"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".test.compose101.Compose101Activity"
            android:exported="false"
            android:label="@string/title_activity_compose101"
            android:theme="@style/Theme.Test101.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Test101.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>